{
    "crun_current_user": "username",
    "crun_current_user_short": "un",
    "crun_root_dir": "/Users/username/crun_data/",
    "default_sbatch_settings": {
	"mem": "2G",
	"cpu": "1",
	"time": "1:00:00"
    }
}
